body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

#radical-list {
  margin-top: 20px;
}
.radical-list_item{
  font-size: 8rem;
}

#quiz {
  margin-top: 40px;
}
